<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}">
<title>メニュー</title>
</head>
<body>
    <div class="container">
        <h1 class="mb-5">メニュー画面</h1>
        <h3>ログイン成功</h3>　
        <a href="admin.html" th:href="@{/admin}">管理者画面へ</a>
    </div>
    <script src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
    <script src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
</body>
</html>